
 	<div class = "card">
 		<div class="card-block">
 			<div class="row">
 				<div class="col">
					<button class="icon-btn" style="float:left; width:100%;" (click)="showTransactionBackupModal()" data-toggle="modal" data-target="#transaction-backup-modal"><i class="ti-harddrives"></i> Transaction Backup</button>
 				</div>
 				<div class="col">
 					<button class="icon-btn" style="width:100%;" (click)="showTradeFilterModal()" data-toggle="modal" data-target="#trade-filter-modal"><i class="ti-filter"></i> Trade Filter</button>
 				</div>
 				<div class="col">
 					<button class="icon-btn" style="float:right; width:100%;" (click)="showUploadFileModal()" data-toggle="modal" data-target="#upload-file-modal"><i class="ti-upload"></i> Upload</button>
                 </div>
                 <div class="col">
                    <button class="icon-btn" style="float:right; width:100%;" (click)="resetFilters()"><i class="ti-na"></i> Remove Filters</button>
                </div>
 			</div>
 		</div>
 	</div>

    <div class="card">
        <div class="card-block">
        	<div class="row">
<!--                 <div class="col">
                    <div class="label">Date</div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
	                    <div class="form-group col-sm-12 field" style="padding: 0;">
	                        <select class="form-control" formControlName="dateLimit" id="dateLimit" name="dateLimit" >
		            	      <option value="current" selected>Current</option>
		            	      <option value="1month">1 Month</option>
		            	      <option value="2month">2 Months</option> -->
		            	      <!-- <option *ngFor="let mid of marketIds">{{mid}}</option> -->
<!-- 	                        </select>
	                    </div>
                	</form>
                </div> -->
                <div class="col-sm-2">
                    <div class="label">Total Buy Value</div>
                    <div class="form-group">
                    	<span class="form-control">{{totalBuyValue}}</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="label">Total Sell Value</div>
                    <div class="form-group">
                        <span class="form-control">{{totalSellValue}}</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="label">Total Trade Value</div>
                    <div class="form-group">
                        <span class="form-control">{{totalTradeValue}}</span>
                    </div>
                </div>
                
                <div class="col-sm-2">
                    <div class="label">Total Trades</div>
                    <div class="form-group">
                        <span class="form-control">{{totalTrade}}</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" style="width: 100%;" (click)="getFilteredData()">Refresh</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" style="width: 100%;" (click)="showSwitchMarketModal()">Switch Market</button>
                </div>
           
        	</div>
          
        <div  *ngIf="tradeDataList?.length > 0 else noData" class="scroll-x scroll-y">
            <!-- class="table-overflow  fix-height" -->
            <div style="width:150%; height: 60%">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: center; " *ngFor="let key of headers"> {{key}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let tradeData of tradeDataList'>
                            <td style="text-align: center;" *ngFor='let tradeInfo of tradeData'>{{tradeInfo}}</td>
                       </tr>
                    </tbody>
                </table>
            </div>

        </div>

   	</div>
</div>

<!-- Video Modal START -->
<div class="modal fade" id="transaction-backup-modal" data-reveal data-reset-on-close="true" #transactionBackupModal>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Transaction Backup</h4>
                <a class="modal-close" href="" data-dismiss="modal">
                    <i class="ti-close"></i>
                </a>
            </div>
            <div class="modal-body">
            	<form class="form-group" [formGroup]="filterform">
            		<!-- Row 1 <Radio Buttons> -->
	            	<div class='row' >
	            		<!-- <fieldset style="width:80%;"> -->
	            			<!-- <legend>Row 1</legend> -->
		            		  	<label class="radio-inline modal-field">
		            		    	<input type="radio" name="tradeType" value="all" formControlName="tradeType" checked>All
		            		  	</label>
		        				
		            		  	<label class="radio-inline modal-field">
		            		    	<input type="radio" name="tradeType" value="buy" formControlName="tradeType" >All Buy
		            		  	</label>
		            			<label class="radio-inline modal-field">
		            		    	<input type="radio" name="tradeType" value="sell" formControlName="tradeType">All Sell
		            		  	</label>
	            		<!-- </fieldset> -->
	            	</div>
            		<!-- Row 2 <Select Dropdowns MarketType Symbols Series> -->
	            	<div class='row'>
		    		  	<div class="modal-field col-sm-3" style="padding: 0;">
                    	    <label for="mkt">Market Type:</label>
		    		  		<select class="form-control" formControlName="mkt" id="mkt" name="mkt" >
                    	      <option disabled value="" selected>Select Market</option>
                    	      <option *ngFor="let mid of marketIds">{{mid.transcode_name}}</option>
                    	    </select>
                    	</div>

                    	<div class="modal-field col-sm-3" style="padding: 0;">
                    	    <label for="sym">Symbol:</label>
                    	    <select class="form-control" formControlName="sym" id="sym" name="sym" >
                    	      <option disabled value="" selected>Select Symbol</option>
                    	      <option *ngFor="let mid of symbols">{{mid}}</option>
                    	    </select>
                    	</div>

                    	<div class="modal-field col-sm-3" style="padding: 0;">
                    	    <label for="ser">Series:</label>
                    	    <select class="form-control" formControlName="ser" id="ser" name="ser" >
                    	      <option disabled value="" selected>Select Series</option>
                    	      <option *ngFor="let mid of series">{{mid}}</option>
                    	    </select>
                    	</div>
					</div>
					<!-- Row 3 <Select Dropdowns BranchId UserId CliAccountId> -->
	            	<div class='row'>
		    		  	<div class="modal-field col-sm-3" style="padding: 0;">
                    	    <label for="mkt">Branch ID:</label>
                    	    <select class="form-control" formControlName="brnCd" id="brnCd" name="brnCd" >
                    	      <option disabled value="" selected>Select Branch</option>
                    	      <option *ngFor="let mid of branches">{{mid}}</option>
                    	    </select>
                    	</div>

                    	<div class="modal-field col-sm-3" style="padding: 0;">
                    	    <label for="userId">User ID:</label>
                    	    <select class="form-control" formControlName="usrId" id="userId" name="userId" >
                    	      <option disabled value="" selected>Select User</option>
                    	      <option *ngFor="let uid of userIds">{{uid}}</option>
                    	    </select>
                    	</div>

                    	<div class="modal-field col-sm-3" style="padding: 0;">
                    	    <label for="cliActNo">CLI Account No:</label>
                    	    <select class="form-control" formControlName="cliActNo" id="cliActNo" name="cliActNo" >
                    	      <option disabled value="" selected>Select Cli Account</option>
                    	      <option *ngFor="let mid of cliAccounts">{{mid}}</option>
                    	    </select>
                    	</div>
					</div>
					<!-- Row 4 <Select Dropdowns BranchId UserId CliAccountId> -->
<!-- 	            	<div class='row'>
		    		  	<div class="modal-field col-sm-3" style="padding: 0;">
                    	   <label for="startTimeFilter">Start Time:</label>
							<input type="time" id="startTimeFilter" name="startTimeFilter" >
                    	</div>

		    		  	<div class="modal-field col-sm-3" style="padding: 0;">
                    	   <label for="endTimeFilter">End Time:</label>
							<input type="time" id="endTimeFilter" name="endTimeFilter">
                    	</div>

                    	<div class="modal-field col-sm-3" style="padding: 0;">
                			<label class="radio-inline">
                		  		<input type="radio" name="timmerCheck" value="1" formControlName="timmerCheck">Timmer
                			</label>
                    	</div>

		    		  	<div class="modal-field col-sm-3" style="padding: 0;">
                    	   <label for="timeIntervalFilter">Time Interval:</label>
							<input type="text" id="timeIntervalFilter" name="timeIntervalFilter" value="00:00:00">
                    	</div>
					</div> -->

					<!-- Row 5 <Select Dropdowns BranchId UserId CliAccountId> -->
	            	<div class='row'>
		    		  	<div class="modal-field col-sm-3" style="padding: 0;">
                    	   <label for="filePath">Path:</label>
							<input type="text" id="filePath" name="filePath" formControlName="filePath">
                    	</div>

		    		  	<div class="modal-field col-sm-3" style="padding: 0;">
                    	   <label for="fileName">File Name:</label>
							<input type="text" id="fileName" name="fileName" formControlName="fileName">
                    	</div>

                    	<div class="modal-field col-sm-3" style="padding: 0;">
                			<label class="radio-inline">
                		  		<input type="radio" name="includeDateInFilename" value="1" formControlName="includeDateInFilename">Append Date To File Name
                			</label>
                    	</div>

		    		  	<div class="modal-field col-sm-3" style="padding: 0;">
							<button class="icon-btn" style="width:100%;"><i class="ti-pencil-alt"></i>Change</button>
                    	</div>
					</div>
					<div class="row">
						<fieldset>
							<legend>Trade</legend>
							<div class="row">
								<div class="modal-field col-sm-4">		
								  	<label class="radio-inline">
								    	<input type="radio" name="tradeType" value="buy" formControlName="tradeType">Buy
								  	</label>
								</div>
								<div class="modal-field col-sm-4">
									<label class="radio-inline">
								    	<input type="radio" name="tradeType" value="sell" formControlName="tradeType">Sell
								  	</label>
								</div>
							</div>
							<div class="row">
    			    		  	<div class="modal-field col-sm-4" style="padding: 0;">
    	                    	   <label for="startNoFilter">Start No:</label>
    								<input type="text" id="startNoFilter" name="startNoFilter" formControlName="startNoFilter">
    	                    	</div>
    			    		  	<div class="modal-field col-sm-4" style="padding: 0;">
    	                    	   <label for="endNoFilter">End No:</label>
    								<input type="text" id="endNoFilter" name="endNoFilter" formControlName="endNoFilter">
    	                    	</div>
							</div>
						</fieldset>
					</div>
					<div class="row">
						<fieldset>
							<legend>Options</legend>
							<div class="modal-field col">
								<label class="radio-inline">
							  		<input type="radio" name="tradeType" value="buy" formControlName="tradeType">Include CTCL Id in Transaction Backup File
								</label>
							</div>
						</fieldset>
					</div>
            	</form>
            	<div class="row">
	 				<div class="col-sm-3">
	 					<button class="modal-btn-start" (click)="takeTradeBackup()" style="width:100%;">Start</button>
	 				</div>
	 				<div class="col-sm-3">
	 					<a class="modal-btn-cancel" style="float:right; width:100%;" href="" data-dismiss="modal">Cancel                 
                        </a>
	 				</div>
            	</div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="trade-filter-modal" data-reveal data-reset-on-close="true" #tradeFilterModal>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Trade Filter</h4>
                <a class="modal-close" href="" data-dismiss="modal">
                    <i class="ti-close"></i>
                </a>
            </div>
            <div class="modal-body">
                <form class="form-group" [formGroup]="filterform">
                    <!-- Row 1 <Radio Buttons> -->
                    <div class='row' >
                        <!-- <fieldset style="width:80%;"> -->
                            <!-- <legend>Row 1</legend> -->
                                <label class="radio-inline modal-field">
                                    <input type="radio" name="tradeType" value="all" formControlName="tradeType" checked>All
                                </label>
                                
                                <label class="radio-inline modal-field">
                                    <input type="radio" name="tradeType" value="buy" formControlName="tradeType" >All Buy
                                </label>
                                <label class="radio-inline modal-field">
                                    <input type="radio" name="tradeType" value="sell" formControlName="tradeType">All Sell
                                </label>
                        <!-- </fieldset> -->
                    </div>
                    <!-- Row 2 <Select Dropdowns MarketType Symbols Series> -->
                    <div class='row'>
                        <div class="modal-field col-sm-3" style="padding: 0;">
                            <label for="mkt">Market Type:</label>
                            <select class="form-control" formControlName="mkt" id="mkt" name="mkt" >
                              <option disabled value="" selected>Select Market</option>
                              <option *ngFor="let mid of marketIds">{{mid.transcode_name}}</option>
                            </select>
                        </div>

                        <div class="modal-field col-sm-3" style="padding: 0;">
                            <label for="sym">Symbol:</label>
                            <select class="form-control" formControlName="sym" id="sym" name="sym" >
                              <option disabled value="" selected>Select Symbol</option>
                              <option *ngFor="let mid of symbols">{{mid}}</option>
                            </select>
                        </div>

                        <div class="modal-field col-sm-3" style="padding: 0;">
                            <label for="ser">Series:</label>
                            <select class="form-control" formControlName="ser" id="ser" name="ser" >
                              <option disabled value="" selected>Select Series</option>
                              <option *ngFor="let mid of series">{{mid}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- Row 3 <Select Dropdowns BranchId UserId CliAccountId> -->
                    <div class='row'>
                        <div class="modal-field col-sm-3" style="padding: 0;">
                            <label for="mkt">Branch ID:</label>
                            <select class="form-control" formControlName="brnCd" id="brnCd" name="brnCd" >
                              <option disabled value="" selected>Select Branch</option>
                              <option *ngFor="let mid of branches">{{mid}}</option>
                            </select>
                        </div>

                        <div class="modal-field col-sm-3" style="padding: 0;">
                            <label for="userId">User ID:</label>
                            <select class="form-control" formControlName="usrId" id="userId" name="userId" >
                              <option disabled value="" selected>Select User</option>
                              <option *ngFor="let uid of userIds">{{uid}}</option>
                            </select>
                        </div>

                        <div class="modal-field col-sm-3" style="padding: 0;">
                            <label for="cliActNo">CLI Account No:</label>
                            <select class="form-control" formControlName="cliActNo" id="cliActNo" name="cliActNo" >
                              <option disabled value="" selected>Select Cli Account</option>
                              <option *ngFor="let mid of cliAccounts">{{mid}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- Row 4 <Select Dropdowns BranchId UserId CliAccountId> -->
                    <div class='row'>
                        <div class="modal-field col-sm-3" style="padding: 0;">
                           <label for="startTimeFilter">Start Time:</label>
                            <input type="time" id="startTimeFilter" name="startTimeFilter" >
                        </div>

                        <div class="modal-field col-sm-3" style="padding: 0;">
                           <label for="endTimeFilter">End Time:</label>
                            <input type="time" id="endTimeFilter" name="endTimeFilter">
                        </div>
                    </div>
                    <div class="row">
                        <fieldset>
                            <legend>Trade</legend>
                            <div class="row">
                                <div class="modal-field col-sm-4">      
                                    <label class="radio-inline">
                                        <input type="radio" name="tradeType" value="buy" formControlName="tradeType">Buy
                                    </label>
                                </div>
                                <div class="modal-field col-sm-4">
                                    <label class="radio-inline">
                                        <input type="radio" name="tradeType" value="sell" formControlName="tradeType">Sell
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="modal-field col-sm-4" style="padding: 0;">
                                   <label for="startNoFilter">Start No:</label>
                                    <input type="text" id="startNoFilter" name="startNoFilter" formControlName="startNoFilter">
                                </div>
                                <div class="modal-field col-sm-4" style="padding: 0;">
                                   <label for="endNoFilter">End No:</label>
                                    <input type="text" id="endNoFilter" name="endNoFilter" formControlName="endNoFilter">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-3">
                        <button class="modal-btn-ok" (click) = "getFilteredData()" style="float:left; width:100%;">OK</button>
                    </div>
                    <div class="col-sm-3">
                        <a class="modal-btn-cancel" id="close-filter-modal" style="float:right; width:100%;" href="" data-dismiss="modal">Cancel                 
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Video Modal END -->


<div class="modal fade"  id="switch-market-modal" #switchMarketModal>
  <div class="modal-dialog"> 
    <!-- Modal content-->
     <div class="modal-content">
      <div class="modal-body">
        <div class="modal-field col-sm-6" style="padding: 0;">
            <label for="userId">Select Market:</label>
            <form [formGroup]="switchMarketForm">
              <select formControlName="newMarket" id="newMarket" name="newMarket">
                <option *ngFor="let market of allowedMarkets" [ngValue]="market">
                  {{ market }}
                </option>
              </select>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-success" [disabled]="fileError"  (click)="switchMarket()" >Confirm</button>    
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" #closeDeleteBtn>Cancel</button>
      </div>
    </div>

  </div>
</div>

    <!--upload-file-modal Start -->
<div class="modal fade"  id="upload-file-modal" #uploadFileModal>
  <div class="modal-dialog"> 
    <!-- Modal content-->
     <div class="modal-content">
      <div class="modal-body">
        <div class="col form-group">Upload  File</div>
        <div ng-if="newUpload" class="col form-group">
            <label for="uploadfile">Choose File</label>
            <input type="file"
                   id="uploadfile" name="uploadfile" accept=".txt, .csv"
                   (change)="handleFileInput($event.target.files)" style="margin:5%">
        </div>
        <div *ngIf="fileErrorMsg && fileError"><p style="color: red">{{fileErrorMsg}}</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-success" [disabled]="fileError"  (click)="uploadCsvFile()" >Confirm</button>    
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" #closeDeleteBtn>Cancel</button>
      </div>
    </div>

  </div>
</div>
<!--upload-file-modal End -->


