<!--The content below is only a placeholder and can be replaced.-->
<app-loader></app-loader>
<app-sidebar *ngIf="getLoggedIn()" ></app-sidebar>
<!-- Page Container START -->
<div [ngClass]="{'page-container' : getLoggedIn()}">
    <app-header *ngIf="getLoggedIn()"></app-header>

    <!-- Content Wrapper START -->
    <div class="main-content">
        <div [ngClass]="{'container-fluid' : getLoggedIn()}">
            <div class="row">
                <div class="col-lg-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wrapper END -->
    <app-footer *ngIf="getLoggedIn()"></app-footer>
</div>
<!-- Page Container END -->

