<div *ngIf="adsLoader" class="loader"><img style="width: 42px;" src="assets/images/loader.gif" alt="loading">
</div>
    <div class = "card">
        <div class="card-block">
            <div class="row">
                <div class="col-sm-4 primary-profile-info">
                    <div class="row-sm-8">
                        <img class="profile-image" src="assets/images/user.png" alt="Smiley face" height="80%" width="80%">  
                    </div>
                    <div  class="row-sm-2" style="text-align: center;">
                        <h4>FirstName SecondName</h4>
                    </div>
                    <div class="row-sm-2" style="text-align: center;">
                        <h6>Employee Code</h6>
                    </div>
                </div>
                <div class="col-sm-6 primary-profile-info">
                    <div class="row-sm-2 profile-actions-header">
                        <u> Actions </u>
                    </div>
                    <div class="row-sm-10 profile-actions-body">
                        <div class="col-sm-4">
                            <div class="profile_action-btn">
                                <img src="assets/images/edit.png" alt="Avatar" class="profile_action-btn">
                                <div class="overlay">
                                    <a href="#" class="icon" title="Edit Profile">
                                        <img src="assets/images/edit-icon.png" class="profile_action-btn">
                                    </a>
                                </div>
                            </div>
                            <div class="profile-actions-header">Edit Profile</div>
                        </div>

                        <div class="col-sm-4">
                            <div class="profile_action-btn">
                                <img src="assets/images/change-password.png" alt="Avatar" class="profile_action-btn">
                                <div class="overlay">
                                    <a href="#" class="icon" title="Change Password">
                                        <img src="assets/images/change-password-icon.png" class="profile_action-btn">
                                    </a>
                                </div>
                            </div>
                            <div class="profile-actions-header">Change Password</div>
                        </div>

                        <div class="col-sm-4">
                            <div class="profile_action-btn">
                                <img src="assets/images/sign-out.png" alt="Avatar" class="profile_action-btn">
                                <div class="overlay">
                                    <a href="#" class="icon" title="Sign Out">
                                        <img src="assets/images/sign-out-icon.png" class="profile_action-btn">
                                    </a>
                                </div>
                            </div>
                            <div class="profile-actions-header">Sign Out</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col">
                    <button class="icon-btn" style="float:right; width:100%;"><i class="ti-upload"></i> Upload</button>
                </div> -->
            </div>
        </div>
    </div>
