<div *ngIf="adsLoader" class="loader"><img style="width: 42px;" src="assets/images/loader.gif" alt="loading">
</div>
    <div class = "card">
        <div class="card-block">
            <div class="row">
                <div class="col-sm-4 primary-profile-info">
                    <div class="row-sm-8">
                        <img class="profile-image" src={{user_img_url}} alt="Smiley face" height="80%" width="80%">  
                    </div>
                    <div  class="row-sm-2" style="text-align: center;">
                        <h4>{{firstname}} {{lastname ? lastname : ""}}</h4>
                    </div>
                    <div class="row-sm-2" style="text-align: center;">
                        <h6>{{empcode}}</h6>
                    </div>
                </div>
                <div class="col-sm-6 primary-profile-info">
                    <div class="row-sm-2 profile-actions-header">
                        <u> Actions </u>
                    </div>
                    <div class="row-sm-10 profile-actions-body">
                        <div class="col-sm-4">
                            <div class="profile_action-btn">
                                <img src="assets/images/edit.png" alt="Avatar" class="profile_action-btn">
                                <div class="overlay">
                                    <a href="#" class="icon" title="Edit Profile">
                                        <img src="assets/images/edit-icon.png" class="profile_action-btn">
                                    </a>
                                </div>
                            </div>
                            <div class="profile-actions-header">Edit Profile</div>
                        </div>

                        <div class="col-sm-4">
                            <div class="profile_action-btn">
                                <img src="assets/images/change-password.png" alt="Avatar" class="profile_action-btn">
                                <div class="overlay">
                                    <a href="#" class="icon" title="Change Password">
                                        <img src="assets/images/change-password-icon.png" class="profile_action-btn">
                                    </a>
                                </div>
                            </div>
                            <div class="profile-actions-header">Change Password</div>
                        </div>

                        <div class="col-sm-4">
                            <div class="profile_action-btn">
                                <img src="assets/images/sign-out.png" alt="Avatar" class="profile_action-btn">
                                <div class="overlay">
                                    <a href="#" class="icon" title="Sign Out">
                                        <img src="assets/images/sign-out-icon.png" class="profile_action-btn">
                                    </a>
                                </div>
                            </div>
                            <div class="profile-actions-header">Sign Out</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class = "card">
        <div class="card-block">
            <div class="row">
                <div class="col-sm-10 basic-profile-info-card">
                    <div class="row-sm-12 card-header"> 
                        Basic Information
                    </div>
                    <div  class="row">
                        <div class="col-sm-4 basic-profile-info-card-lable"> Name :</div>
                        <div class="col-sm-6 basic-profile-info-card-lable"> {{firstname}} {{lastname}}</div>
                    </div>
                    <div  class="row">
                        <div class="col-sm-4 basic-profile-info-card-lable"> Employee Code :</div>
                        <div class="col-sm-6 basic-profile-info-card-lable"> {{empcode}}</div>
                    </div>
                    <div  class="row">
                        <div class="col-sm-4 basic-profile-info-card-lable"> User Name :</div>
                        <div class="col-sm-6 basic-profile-info-card-lable"> {{username}}</div>
                    </div>
                    <div  class="row">
                        <div class="col-sm-4 basic-profile-info-card-lable"> Role :</div>
                        <div class="col-sm-6 basic-profile-info-card-lable"> {{user_role.toUpperCase()}}</div>
                    </div>
                    <div  class="row">
                        <div class="col-sm-4 basic-profile-info-card-lable"> Occupation :</div>
                        <div class="col-sm-6 basic-profile-info-card-lable"> {{user_occupation}}</div>
                    </div>
                    <div  class="row">
                        <div class="col-sm-4 basic-profile-info-card-lable"> Email :</div>
                        <div class="col-sm-6 basic-profile-info-card-lable"> {{user_email}}</div>
                    </div>
                    <div  class="row">
                        <div class="col-sm-4 basic-profile-info-card-lable"> Contact :</div>
                        <div class="col-sm-6 basic-profile-info-card-lable"> {{user_phone}}</div>
                    </div>
                    <div  class="row">
                        <div class="col-sm-4 basic-profile-info-card-lable"> Last Login :</div>
                        <div class="col-sm-6 basic-profile-info-card-lable"> {{last_login_at}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
