<div [hidden]="hideLoader" class="loader"><img style="width: 42px;" src="assets/images/loader.gif" alt="loading"></div>

<div class="login">
    <div class="container-fluid no-padding">
        <div class="row">
            <div class="loginBox">
                <div class="vertical-align full-height">
                    <div class="table-cell">
                        <div class="card" style="margin-bottom: 0;">
                            <div class="card-block">
                                <div class="topPart text-center">
                                    <img src="assets/images/wilson-large.png" alt="">
                                   <!--  <span>Login</span> -->
                                </div>
                                <p>Please enter your user name and password to login</p>
                                
                                <div class="alert alert-danger" *ngIf="message">{{message}}</div>
                                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
                                	<div class="form-group col-sm-12 field" style="padding: 0;">
                                	    <select class="form-control" formControlName="marketId" id="marketId" name="marketId" >
                                	      <option disabled value="" selected>Select Market*</option>
                                	      <option *ngFor="let mid of marketIds">{{mid}}</option>
                                	    </select>
                                	    <label for="marketId">Market Id</label>
                                	    <p class="alert alert-danger login-error" *ngIf="isFieldInvalid('marketId')">
                                	      Please select your market id.
                                	    </p>
                                	</div>
                                	<div class="form-group col-sm-12 field" style="padding: 0;">
                                	    <input type="number" class="form-control" placeholder="Member Id*" formControlName="memberId" id="memberId" name="memberId" required> 
                                	    <label for="memberId">Member Id</label>
                                	    <p class="alert alert-danger login-error" *ngIf="isFieldInvalid('memberId')">
                                	      Please enter your member id.
                                	    </p>
                                	</div>
                                    <div class="form-group col-sm-12 field" style="padding: 0;">
                                        <input type="email" class="form-control" placeholder="User Id*" formControlName="userId" id="userId" required> 
                                        <label for="userId">User Id</label>
                                        <p class="alert alert-danger login-error" *ngIf="isFieldInvalid('userId')">
                                          Please enter your user id.
                                        </p>
                                    </div>
                                    <div class="form-group col-sm-12 field" style="padding: 0;">
                                        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" required>
                                        <label for="password">Password*</label>
                                        <p class="alert alert-danger login-error" *ngIf="isFieldInvalid('password')">
                                          Please enter your password.
                                        </p>
                                    </div>
                                    <div class="text-right">
                                       <!--  <span class="pull-left"><a [routerLink]="'/signup'" class="txtLink" style="line-height: 38px;">Sign Up?</a></span> -->
                                        <button class="btn btn-info">{{loginbtn}}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>