
<!-- <div class="side-nav"  *ngIf="isLoggedIn$ | async as isLoggedIn"> -->
<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <a href="index.html">
                <div class="logo logo-dark" style="background-image: url('assets/images/nse-logo-light.jpg')"></div>
<!--                 <div class="logo logo-white" style="background-image: url('assets/images/logo-white.png')"></div> -->
            </a>
            <div class="mobile-toggle side-nav-toggle">
                <a href="#"><i class="ti-arrow-circle-left"></i></a>
            </div>
        </div>
        <ul class="side-nav-menu scrollable">
            <li class="nav-item">
                <a [routerLink]="'/lock-file'">
                    <span class="icon-holder"><i class="ti-lock"></i></span>
                    <span class="title">Lock</span>
                    <!-- <span class="arrow"><i class="ti-angle-right"></i></span> -->
                </a>
                <!-- <ul class="dropdown-menu"> -->
                   <!--  <li><a href="users.html">Users</a></li> -->
                    <!-- <li><a [routerLink]="'/brands'">Brands</a></li> -->
                    <!-- <li><a href="admaster.html">Ad Master</a></li> -->
                    <!-- <li><a href="#">Video Master</a></li> -->
                    <!-- <li><a [routerLink]="'/setupmaster'">Setup Master</a></li>
                    <li><a [routerLink]="'/admaster'">Ad Master</a></li>
                    <li><a [routerLink]="'/deleteRequest'">Delete Request</a></li> -->
                    <!-- <li><a href="#">TV Screens</a></li>
                    <li><a href="#">Look Up</a></li>
                    <li><a href="#">Sync Channels</a></li>
                    <li><a href="#">TV Ads</a></li>
                    <li><a href="#">Live Ads</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Import Data</a></li>
                    <li><a href="#">Generate URL</a></li>
                    <li><a href="#">Upload Brand CSV</a></li> -->
                <!-- </ul> -->
            </li>
            <li class="nav-item">
                <a [routerLink]="'/transaction-backup'">
                    <span class="icon-holder"><i class="ti-harddrives"></i></span>
                    <span class="title">Transaction Backup</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="'/trade-filter'">
                    <span class="icon-holder"><i class="ti-filter"></i></span>
                    <span class="title">Trade Filter</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/upload">
                    <span class="icon-holder"><i class="ti-upload"></i></span>
                    <span class="title">Upload</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/profile">
                    <span class="icon-holder"><i class="ti-user"></i></span>
                    <span class="title">User Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/change-password">
                    <span class="icon-holder"><i class="ti-key"></i></span>
                    <span class="title">Change Password</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/help">
                    <span class="icon-holder"><i class="ti-help-alt"></i></span>
                    <span class="title">Help</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <span class="icon-holder"><i class="ti-info-alt"></i></span>
                    <span class="title">About NOTIS</span>
                </a>
            </li>
            <li class="nav-item" >
                <a [routerLink]="'/logout'">
                    <span class="icon-holder"><i class="ti-share-alt"></i></span>
                    <span class="title">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Side Nav END -->